:host {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

form {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  width: 100%;
}

p {
  margin: 0 0 12px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.2;
    text-align: justify;
}
