$mypink-palette: (
    50 : #ffecf0,
    100 : #ffd0da,
    200 : #ffb1c2,
    300 : #ff92a9,
    400 : #ff7a96,
    500 : #ff6384,
    600 : #ff5b7c,
    700 : #ff5171,
    800 : #ff4767,
    900 : #ff3554,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdfe4,
    A700 : #ffc6ce,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mypurple-palette: (
    50 : #e9e2ea,
    100 : #c7b8cb,
    200 : #a288a8,
    300 : #7c5885,
    400 : #60356b,
    500 : #441151,
    600 : #3e0f4a,
    700 : #350c40,
    800 : #2d0a37,
    900 : #1f0527,
    A100 : #d163ff,
    A200 : #c230ff,
    A400 : #b200fc,
    A700 : #a000e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

